h1 Demo page for range slider

div.panel-conteiner
    div(id='one-handler-horizontal')

div.panel-conteiner
    div(id='one-handler-vertical')

div.panel-conteiner
    div(id='two-handler-horizontal')

div.panel-conteiner
    div(id='two-handler-vertical')