mixin sliderParamButton(textParam, paramName )
    
    div.container-of-switch-params
        div.container-of-switch-params-text=paramName
        input.paramInput(type=textParam)
        button.switch-button

    